{% extends 'base.html'%}
{% block content%}
<h3 style="text-align:center;margin-top: 90px;font-size:2.7em">Search Student</h3>

<div class="col-md-6" style="margin:0px auto;margin-top:40px">

<form method="post" action="{% url 'students:searchStudent' %}">{% csrf_token %}
  <div class="input-group mb-3">
    <button type="button" class="btn btn-outline-secondary">Search by?</button>
    <select name="wayToSearch" id="inputState" style="background-color:white;">
      <option value="scode">Student Code</option>
      <option value="class">Class</option>
      <option value="fname">First Name</option>
      <option value="fatherName">FatherName</option>
      <option value="city">City</option>
      <option value="religion">Religion</option>
      <option value="category">Category</option>
      <option value="rte">RTE</option>
    </select>
    <input name="query" type="text" class="form-control" aria-label="Text input with segmented dropdown button" required>
  </div>
</div>
</form>

{% if student.exits %}
  <h1>Working:</h1>
{% endif %}

{% if student %}
<h3 style="text-align:center;margin-top:40px;font-size:2.7em">Search Results: <span style="color:red">{{ student|length }}</span></h3>
  <div class="col-lg-8" style="margin:40px auto;">
    <div class="col-md-12" style=";margin:1px auto;">
      <div class="table-responsive">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">SNo</th>
              <th scope="col">Name</th>
              <th scope="col">Class</th>
              <th scope="col">Father's Name</th>
              <th scope="col">RTE</th>
              <th scope="col">Religion</th>           

            </tr>
          </thead>
          <tbody>
            {% for info in student %}
                <tr onclick="window.location='{{ info.get_absolute_url }}'">
                <th scope="row">{{ info.student_code }}</th>
                <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
                <td>{{ info.student_present_class|capfirst }}</td>
                <td>{{ info.fatherName|capfirst }}</td>
                <td>{{ info.rte_student }}</td>
                <td>{{ info.religion }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    
  </div>
  {% endif %}
  </div>
  </div>
  </div>
</div>





{% endblock %}
