{% extends 'base.html' %}
{% block content %}

<div class="top_school_name" style="margin-top: 10px;"><h2>{{ i.insitution|title }}</h2></div>
<div class="col-md-11" style="margin:1px auto;">
    <h4>Welcome {{ request.user|title }}</h4>
    <div class="col-md-12">
    <center><a href="{% url 'students:all_display' %}"><button class="btn btn-success">Show all students</button></center>
    <a href="{% url "logout" %}" style="all:unset;"><button class="btn btn-danger" style="float:right;">Log Out</button></a><br>
    <a href="{% url 'students:addStudent' %}"><button class="btn btn-primary">Add student</button></a>
    <a href="{% url 'students:searchStudent' %}"<button class="btn btn-primary">Search</button></a>
    </div>
    <div style="margin:0 auto; text-align:center;"><h5>Total students:<span style="color:red">{{ all_student }}</span></h5></div>
    <h3>12th</h3>
    <center><p class="btn btn-info">Total students: {{ students_12|length }}</p></center>
    <div class="col-md-12" style=";margin:1px auto;">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">SNo</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Father's Name</th>
                <th scope="col">Mother's Name</th>
                <th scope="col">Fee</th>
                <th scope="col">RTE</th>
                <th scope="col">DOB</th>
                <th scope="col">Contact</th>
                <th scope="col">Religion</th>           
                <th scope="col">Caste</th>
                <th scope="col">Category</th>


              </tr>
            </thead>
            <tbody>
              {% for info in students_12 %}
                  <tr onclick="window.location='{{ info.get_absolute_url }}'">
                  <th scope="row">{{ info.student_code }}</th>
                  <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
                  <td>{{ info.student_present_class|capfirst }}</td>
                  <td>{{ info.fatherName|capfirst }}</td>
                  <td>{{ info.motherName|capfirst }}</td>
                  <td>{{ info.fee }}</td>
                  <td>{{ info.rte_student }}</td>
                  <td>{{ info.DOB }}</td>
                  <td>{{ info.phoneNumber }}</td>
                  <td>{{ info.religion }}</td>
                  <td>{{ info.caste|capfirst  }}</td>
                  <td>{{ info.category }}</td>
                </tr>
                
              {% endfor %}
            </tbody>

        </table>
    </div>
    <br><br>
    <h3>11th</h3>
    <center><p class="btn btn-info">Total students: {{ students_11|length }}</p></center>
    <div class="col-md-12" style=";margin:1px auto;">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">SNo</th>
              <th scope="col">Name</th>
              <th scope="col">Class</th>
              <th scope="col">Father's Name</th>
              <th scope="col">Mother's Name</th>
              <th scope="col">Fee</th>
              <th scope="col">RTE</th>
              <th scope="col">DOB</th>
              <th scope="col">Contact</th>
              <th scope="col">Religion</th>           
              <th scope="col">Caste</th>
              <th scope="col">Category</th>


            </tr>
          </thead>
          <tbody>
            {% for info in students_11 %}
            <tr onclick="window.location='{{ info.get_absolute_url }}'">

                <th scope="row">{{ info.student_code }}</th>
                <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
                <td>{{ info.student_present_class|capfirst }}</td>
                <td>{{ info.fatherName|capfirst }}</td>
                <td>{{ info.motherName|capfirst }}</td>
                <td>{{ info.fee }}</td>
                <td>{{ info.rte_student }}</td>
                <td>{{ info.DOB }}</td>
                <td>{{ info.phoneNumber }}</td>
                <td>{{ info.religion }}</td>
                <td>{{ info.caste|capfirst  }}</td>
                <td>{{ info.category }}</td>
              </tr>
             
            {% endfor %}
          </tbody>

      </table>
  </div>
  <br><br>

  <h3>10th</h3>
  <center><p class="btn btn-info">Total students: {{ students_10|length }}</p></center>
  <div class="col-md-12" style=";margin:1px auto;">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">SNo</th>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Father's Name</th>
            <th scope="col">Mother's Name</th>
            <th scope="col">Fee</th>
            <th scope="col">RTE</th>
            <th scope="col">DOB</th>
            <th scope="col">Contact</th>
            <th scope="col">Religion</th>           
            <th scope="col">Caste</th>
            <th scope="col">Category</th>


          </tr>
        </thead>
        <tbody>
          {% for info in students_10 %}
          <tr onclick="window.location='{{ info.get_absolute_url }}'">

              <th scope="row">{{ info.student_code }}</th>
              <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
              <td>{{ info.student_present_class|capfirst }}</td>
              <td>{{ info.fatherName|capfirst }}</td>
              <td>{{ info.motherName|capfirst }}</td>
              <td>{{ info.fee }}</td>
              <td>{{ info.rte_student }}</td>
              <td>{{ info.DOB }}</td>
              <td>{{ info.phoneNumber }}</td>
              <td>{{ info.religion }}</td>
              <td>{{ info.caste|capfirst  }}</td>
              <td>{{ info.category }}</td>
            </tr>
           
          {% endfor %}
        </tbody>

    </table>
</div>
<br><br>

<h3>9th</h3>
<center><p class="btn btn-info">Total students: {{ students_9|length }}</p></center>
<div class="col-md-12" style=";margin:1px auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Fee</th>
          <th scope="col">RTE</th>
          <th scope="col">DOB</th>
          <th scope="col">Contact</th>
          <th scope="col">Religion</th>           
          <th scope="col">Caste</th>
          <th scope="col">Category</th>


        </tr>
      </thead>
      <tbody>
        {% for info in students_9 %}
        <tr onclick="window.location='{{ info.get_absolute_url }}'">

            <th scope="row">{{ info.student_code }}</th>
            <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
            <td>{{ info.student_present_class|capfirst }}</td>
            <td>{{ info.fatherName|capfirst }}</td>
            <td>{{ info.motherName|capfirst }}</td>
            <td>{{ info.fee }}</td>
            <td>{{ info.rte_student }}</td>
            <td>{{ info.DOB }}</td>
            <td>{{ info.phoneNumber }}</td>
            <td>{{ info.religion }}</td>
            <td>{{ info.caste|capfirst  }}</td>
            <td>{{ info.category }}</td>
          </tr>
          
        {% endfor %}
      </tbody>

  </table>
</div>
<br><br>

<h3>8th</h3>
<center><p class="btn btn-info">Total students: {{ students_8|length }}</p></center>
<div class="col-md-12" style=";margin:1px auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Fee</th>
          <th scope="col">RTE</th>
          <th scope="col">DOB</th>
          <th scope="col">Contact</th>
          <th scope="col">Religion</th>           
          <th scope="col">Caste</th>
          <th scope="col">Category</th>


        </tr>
      </thead>
      <tbody>
        {% for info in students_8 %}
        <tr onclick="window.location='{{ info.get_absolute_url }}'">

            <th scope="row">{{ info.student_code }}</th>
            <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
            <td>{{ info.student_present_class|capfirst }}</td>
            <td>{{ info.fatherName|capfirst }}</td>
            <td>{{ info.motherName|capfirst }}</td>
            <td>{{ info.fee }}</td>
            <td>{{ info.rte_student }}</td>
            <td>{{ info.DOB }}</td>
            <td>{{ info.phoneNumber }}</td>
            <td>{{ info.religion }}</td>
            <td>{{ info.caste|capfirst  }}</td>
            <td>{{ info.category }}</td>
          </tr>
          
        {% endfor %}
      </tbody>

  </table>
</div>
<br><br>

<h3>7th</h3>
<center><p class="btn btn-info">Total students: {{ students_7|length }}</p></center>
<div class="col-md-12" style=";margin:1px auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Fee</th>
          <th scope="col">RTE</th>
          <th scope="col">DOB</th>
          <th scope="col">Contact</th>
          <th scope="col">Religion</th>           
          <th scope="col">Caste</th>
          <th scope="col">Category</th>


        </tr>
      </thead>
      <tbody>
        {% for info in students_7 %}
        <tr onclick="window.location='{{ info.get_absolute_url }}'">

            <th scope="row">{{ info.student_code }}</th>
            <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
            <td>{{ info.student_present_class|capfirst }}</td>
            <td>{{ info.fatherName|capfirst }}</td>
            <td>{{ info.motherName|capfirst }}</td>
            <td>{{ info.fee }}</td>
            <td>{{ info.rte_student }}</td>
            <td>{{ info.DOB }}</td>
            <td>{{ info.phoneNumber }}</td>
            <td>{{ info.religion }}</td>
            <td>{{ info.caste|capfirst  }}</td>
            <td>{{ info.category }}</td>
          </tr>
          
        {% endfor %}
      </tbody>

  </table>
</div>
<br><br>

<h3>6th</h3>
<center><p class="btn btn-info">Total students: {{ students_6|length }}</p></center>
<div class="col-md-12" style=";margin:1px auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Fee</th>
          <th scope="col">RTE</th>
          <th scope="col">DOB</th>
          <th scope="col">Contact</th>
          <th scope="col">Religion</th>           
          <th scope="col">Caste</th>
          <th scope="col">Category</th>


        </tr>
      </thead>
      <tbody>
        {% for info in students_6 %}
        <tr onclick="window.location='{{ info.get_absolute_url }}'">

            <th scope="row">{{ info.student_code }}</th>
            <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
            <td>{{ info.student_present_class|capfirst }}</td>
            <td>{{ info.fatherName|capfirst }}</td>
            <td>{{ info.motherName|capfirst }}</td>
            <td>{{ info.fee }}</td>
            <td>{{ info.rte_student }}</td>
            <td>{{ info.DOB }}</td>
            <td>{{ info.phoneNumber }}</td>
            <td>{{ info.religion }}</td>
            <td>{{ info.caste|capfirst  }}</td>
            <td>{{ info.category }}</td>
          </tr>
         
        {% endfor %}
      </tbody>

  </table>
</div>
<br><br>


<h3>5th</h3>
<center><p class="btn btn-info">Total students: {{ students_5|length }}</p></center>
<div class="col-md-12" style=";margin:1px auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Fee</th>
          <th scope="col">RTE</th>
          <th scope="col">DOB</th>
          <th scope="col">Contact</th>
          <th scope="col">Religion</th>           
          <th scope="col">Caste</th>
          <th scope="col">Category</th>


        </tr>
      </thead>
      <tbody>
        {% for info in students_5 %}
        <tr onclick="window.location='{{ info.get_absolute_url }}'">

            <th scope="row">{{ info.student_code }}</th>
            <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
            <td>{{ info.student_present_class|capfirst }}</td>
            <td>{{ info.fatherName|capfirst }}</td>
            <td>{{ info.motherName|capfirst }}</td>
            <td>{{ info.fee }}</td>
            <td>{{ info.rte_student }}</td>
            <td>{{ info.DOB }}</td>
            <td>{{ info.phoneNumber }}</td>
            <td>{{ info.religion }}</td>
            <td>{{ info.caste|capfirst  }}</td>
            <td>{{ info.category }}</td>
          </tr>
          
        {% endfor %}
      </tbody>

  </table>
</div>
<br><br>

<h3>4th</h3>
<center><p class="btn btn-info">Total students: {{ students_4|length }}</p></center>
<div class="col-md-12" style=";margin:1px auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Fee</th>
          <th scope="col">RTE</th>
          <th scope="col">DOB</th>
          <th scope="col">Contact</th>
          <th scope="col">Religion</th>           
          <th scope="col">Caste</th>
          <th scope="col">Category</th>


        </tr>
      </thead>
      <tbody>
        {% for info in students_4 %}
        <tr onclick="window.location='{{ info.get_absolute_url }}'">

            <th scope="row">{{ info.student_code }}</th>
            <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
            <td>{{ info.student_present_class|capfirst }}</td>
            <td>{{ info.fatherName|capfirst }}</td>
            <td>{{ info.motherName|capfirst }}</td>
            <td>{{ info.fee }}</td>
            <td>{{ info.rte_student }}</td>
            <td>{{ info.DOB }}</td>
            <td>{{ info.phoneNumber }}</td>
            <td>{{ info.religion }}</td>
            <td>{{ info.caste|capfirst  }}</td>
            <td>{{ info.category }}</td>
          </tr>
          
        {% endfor %}
      </tbody>

  </table>
</div>
<br><br>


<h3>3rd</h3>
<center><p class="btn btn-info">Total students: {{ students_3|length }}</p></center>
<div class="col-md-12" style=";margin:1px auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Fee</th>
          <th scope="col">RTE</th>
          <th scope="col">DOB</th>
          <th scope="col">Contact</th>
          <th scope="col">Religion</th>           
          <th scope="col">Caste</th>
          <th scope="col">Category</th>


        </tr>
      </thead>
      <tbody>
        {% for info in students_3 %}
        <tr onclick="window.location='{{ info.get_absolute_url }}'">

            <th scope="row">{{ info.student_code }}</th>
            <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
            <td>{{ info.student_present_class|capfirst }}</td>
            <td>{{ info.fatherName|capfirst }}</td>
            <td>{{ info.motherName|capfirst }}</td>
            <td>{{ info.fee }}</td>
            <td>{{ info.rte_student }}</td>
            <td>{{ info.DOB }}</td>
            <td>{{ info.phoneNumber }}</td>
            <td>{{ info.religion }}</td>
            <td>{{ info.caste|capfirst  }}</td>
            <td>{{ info.category }}</td>
          </tr>
         
        {% endfor %}
      </tbody>

  </table>
</div>
<br><br>

<h3>2nd</h3>
<center><p class="btn btn-info">Total students: {{ students_2|length }}</p></center>
<div class="col-md-12" style=";margin:1px auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Fee</th>
          <th scope="col">RTE</th>
          <th scope="col">DOB</th>
          <th scope="col">Contact</th>
          <th scope="col">Religion</th>           
          <th scope="col">Caste</th>
          <th scope="col">Category</th>


        </tr>
      </thead>
      <tbody>
        {% for info in students_2 %}
        <tr onclick="window.location='{{ info.get_absolute_url }}'">

            <th scope="row">{{ info.student_code }}</th>
            <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
            <td>{{ info.student_present_class|capfirst }}</td>
            <td>{{ info.fatherName|capfirst }}</td>
            <td>{{ info.motherName|capfirst }}</td>
            <td>{{ info.fee }}</td>
            <td>{{ info.rte_student }}</td>
            <td>{{ info.DOB }}</td>
            <td>{{ info.phoneNumber }}</td>
            <td>{{ info.religion }}</td>
            <td>{{ info.caste|capfirst  }}</td>
            <td>{{ info.category }}</td>
          </tr>
         
        {% endfor %}
      </tbody>

  </table>
</div>
<br><br>

<h3>1st</h3>
<center><p class="btn btn-info">Total students: {{ students_1|length }}</p></center>
<div class="col-md-12" style=";margin:1px auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Fee</th>
          <th scope="col">RTE</th>
          <th scope="col">DOB</th>
          <th scope="col">Contact</th>
          <th scope="col">Religion</th>           
          <th scope="col">Caste</th>
          <th scope="col">Category</th>


        </tr>
      </thead>
      <tbody>
        {% for info in students_1 %}
        <tr onclick="window.location='{{ info.get_absolute_url }}'">

            <th scope="row">{{ info.student_code }}</th>
            <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
            <td>{{ info.student_present_class|capfirst }}</td>
            <td>{{ info.fatherName|capfirst }}</td>
            <td>{{ info.motherName|capfirst }}</td>
            <td>{{ info.fee }}</td>
            <td>{{ info.rte_student }}</td>
            <td>{{ info.DOB }}</td>
            <td>{{ info.phoneNumber }}</td>
            <td>{{ info.religion }}</td>
            <td>{{ info.caste|capfirst  }}</td>
            <td>{{ info.category }}</td>
          </tr>
          
        {% endfor %}
      </tbody>

  </table>
</div>
<br><br>

<h3>LKG</h3>
<center><p class="btn btn-info">Total students: {{ students_lkg|length }}</p></center>
<div class="col-md-12" style=";margin:1px auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Fee</th>
          <th scope="col">RTE</th>
          <th scope="col">DOB</th>
          <th scope="col">Contact</th>
          <th scope="col">Religion</th>           
          <th scope="col">Caste</th>
          <th scope="col">Category</th>


        </tr>
      </thead>
      <tbody>
        {% for info in students_lkg %}
        <tr onclick="window.location='{{ info.get_absolute_url }}'">

            <th scope="row">{{ info.student_code }}</th>
            <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
            <td>{{ info.student_present_class|capfirst }}</td>
            <td>{{ info.fatherName|capfirst }}</td>
            <td>{{ info.motherName|capfirst }}</td>
            <td>{{ info.fee }}</td>
            <td>{{ info.rte_student }}</td>
            <td>{{ info.DOB }}</td>
            <td>{{ info.phoneNumber }}</td>
            <td>{{ info.religion }}</td>
            <td>{{ info.caste|capfirst  }}</td>
            <td>{{ info.category }}</td>
          </tr>
          
        {% endfor %}
      </tbody>

  </table>
</div>
<br><br>


<h3>UKG</h3>
<center><p class="btn btn-info">Total students: {{ students_ukg|length }}</p></center>
<div class="col-md-12" style=";margin:1px auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Fee</th>
          <th scope="col">RTE</th>
          <th scope="col">DOB</th>
          <th scope="col">Contact</th>
          <th scope="col">Religion</th>           
          <th scope="col">Caste</th>
          <th scope="col">Category</th>


        </tr>
      </thead>
      <tbody>
        {% for info in students_ukg %}
        <tr onclick="window.location='{{ info.get_absolute_url }}'">

            <th scope="row">{{ info.student_code }}</th>
            <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
            <td>{{ info.student_present_class|capfirst }}</td>
            <td>{{ info.fatherName|capfirst }}</td>
            <td>{{ info.motherName|capfirst }}</td>
            <td>{{ info.fee }}</td>
            <td>{{ info.rte_student }}</td>
            <td>{{ info.DOB }}</td>
            <td>{{ info.phoneNumber }}</td>
            <td>{{ info.religion }}</td>
            <td>{{ info.caste|capfirst  }}</td>
            <td>{{ info.category }}</td>
          </tr>
          
        {% endfor %}
      </tbody>

  </table>
</div>
<br><br>

<h3>NUSERY</h3>
<center><p class="btn btn-info">Total students: {{ students_nusery|length }}</p></center>
<div class="col-md-12" style=";margin:1px auto;">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Fee</th>
          <th scope="col">RTE</th>
          <th scope="col">DOB</th>
          <th scope="col">Contact</th>
          <th scope="col">Religion</th>           
          <th scope="col">Caste</th>
          <th scope="col">Category</th>


        </tr>
      </thead>
      <tbody>
        {% for info in students_nusery %}
        <tr onclick="window.location='{{ info.get_absolute_url }}'">

            <th scope="row">{{ info.student_code }}</th>
            <td>{{ info.fName|capfirst }} {{ info.sName|capfirst }}</td>
            <td>{{ info.student_present_class|capfirst }}</td>
            <td>{{ info.fatherName|capfirst }}</td>
            <td>{{ info.motherName|capfirst }}</td>
            <td>{{ info.fee }}</td>
            <td>{{ info.rte_student }}</td>
            <td>{{ info.DOB }}</td>
            <td>{{ info.phoneNumber }}</td>
            <td>{{ info.religion }}</td>
            <td>{{ info.caste|capfirst  }}</td>
            <td>{{ info.category }}</td>
          </tr>
          
        {% endfor %}
      </tbody>

  </table>
</div>
<br><br><br><br><br>

</div>

<style>
.top_school_name {
    margin: 0px auto;
    text-align: center;
    color:black;

}
</style>
{% endblock  %}