{% extends 'base.html' %}
{% block content %}
<div style="margin-top:5pc">
    <h1 style="text-align:center;">School Management System</h1>
</div>

<div>
    <h3 style="text-align:center;">Welcome Back!</h3><br><br>
    <div class="col-sm-6" style="margin:0px auto;">
      {% if error %}
        <div class="col-sm-6" style="margin:0px auto;">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ error }}</strong><br>
                <em>Or have you <a href="">forgot password?</a></em>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
      {% endif %}
      <div class="col-sm-8" style="margin:0px auto;" >

        <form method="post" action="{% url 'login' %}">{% csrf_token %}
          <div style="margin:0px auto;">
            <div class="form-group col-md-6"style="margin:0px auto;">
              <label for="inputEmail4">UserName</label>
              <input name="username" type="text" class="form-control" id="inputEmail4" required>
            </div>
            <br>
            <div class="form-group col-md-6"style="margin:0px auto;">
              <label for="inputPassword4">Password</label>
              <input name="password" type="password" class="form-control" id="inputPassword4" required>
            </div>
          </div>
    <br>
        <center><button type="submit" class="btn btn-primary">Sign in</button></center><br>
      </form>

          <center><a href="{% url 'new_sign' %}"<button type="submit" class="btn btn-danger">New User?</button></a></center>
        </div>
    </div>
</div>
{% endblock %}